.product {
    padding-top: 15px;
}


.navbar__image{
     
    align-self: center;
    float: left;
    padding: 5px 5px;
    max-width: 150px;
}

.header {
    background-image: url("https://wallpaperfm.com/img/original/d/c/3/24686.jpg");
    display: flex;
    justify-content: space-between;
}

img {
    height: 50px;
}

.second-header {
    height: 200px;
    padding-top: 65px;
    background-image: url("http://www.jip-potraviny.cz/upload/image/1513672655_Zlin_10.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.custom-buttons {
    display: flex;
    justify-content: center;
}
